@model IEnumerable<WebLeao.WebApplication.Models.CursosViewModel>
@{
    ViewData["Title"] = "ListaCursos";
}


<div class="container">
    <br />
    <div class="mb-2">
        @Html.ActionLink("Novo Curso", "Registrar", "Cursos", null, new{@class="btn btn-primary"})
    </div>
    <div class="card p-2">
        <div class="card-title">
            <label>Lista de Cursos</label>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.DataRegistro.ToShortDateString()</td>
                            <td>@item.Titulo</td>
                            <td>@item.Descricao</td>
                            <td>@item.Valor</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


</div>

