@model IEnumerable<WebLeao.WebApplication.Models.CursosViewModel>
@{
    ViewData["Title"] = "ListaCursos";
}


<div class="container">
    <br />
    <div class="mb-2">
        @Html.ActionLink("Novo Curso", "Registrar", "Cursos", null, new{@class="btn btn-primary"})
    </div>
    <div class="card p-2">
        <div class="card-title">
            <label>Lista de Cursos</label>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.DataRegistro.ToShortDateString()</td>
                            <td>@item.Titulo</td>
                            <td>@item.Descricao</td>
                            <td>@item.Valor</td>
                            <td>
                                <button type="button" class="btn btn-danger btnDelete" data-itemid="@item.Id">Excluir</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning btnUpdate" data-itemid="@item.Id">Atualizar</button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


</div>

@section scripts { 
    <script>
        $('.btnDelete').click(function () {
            var Id = $(this).attr('data-itemid')
            var Url = "/Cursos/ExcluirCurso?Id=" + Id;

            if(confirm("Realmente deseja excluir esse curso?")) {
                $.ajax({ 
                    type:'DELETE',
                    url:Url,
                    success: function(result){ 
                        alert("Curso Excluído com sucesso");
                        window.location.href = "/Cursos/ListaCursos";
                    }
                });
             }
        });
    </script>
}
